<div class="mdl-card__supporting-text">
  <p>
    We're saddened to hear that you would like to delete your Uhura account! Before you leave, <strong>Carefully read the warning below</strong>:
  </p>
  <p class="warning">
    Immediately when you click 'Delete Account' you <strong>lose access to Uhura</strong>. <!--You should export your data before deleting your account-->
  </p>
  <p>
    Any questions, please contact me(support@uhura.io)
  </p>
</div>

<div class="mdl-card__actions mdl-card--border">
  <button {{action 'deleteAccount'}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Delete Account
  </button>
</div>

