{{#each episodes as |episode|}}
  {{episode-list-item episode=episode rightActions=hasRightActions}}
{{/each}}

{{#infinite-scroll content=episodes hasMore=hasMore}}
  <span id="loading-episodes">Loading...</span>
{{/infinite-scroll}}
