<main class="mdl-layout__content">
  <div id="topbar">
    <h1 class="uhura__logo">{{#link-to 'home'}}Uhura{{/link-to}}</h1>
    {{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }} class="mdl-navigation__link">
      Sign Out
    </a>
    {{#link-to 'subscriptions' class="login"}}Back to Subscriptions{{/link-to}}
    {{else}}
    {{#link-to 'login' class="login"}}Login{{/link-to}}
    {{/if}}
  </div>

  <div class="page-content">
    {{yield}}
  </div>
</main>
