  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Share</h4>
  </div>
  <div class="mdl-card__supporting-text">
    {{input value=currentURL}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a {{action 'close'}} class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Close
    </a>
  </div>
