<span class="mdl-layout-title uhura__logo">Uhura</span>
<nav class="mdl-navigation">
  {{#link-to 'subscriptions' class="mdl-navigation__link"}}
  Subscriptions
  {{/link-to}}
  {{#link-to 'explore' class="mdl-navigation__link"}}
  Explore
  {{/link-to}}

  {{#link-to 'settings' class="mdl-navigation__link"}}
  Settings
  {{/link-to}}

  <div class="mdl-layout-spacer"></div>
  <a {{ action 'invalidateSession' }} class="mdl-navigation__link">
    <span class="typcn typcn-power-outline"></span>
    Sign Out
  </a>
</nav>
