{{#if channel.subscribed}}
<button class="button subscribed material-icons" {{action 'unsubscribe'}}>
done
</button>
{{else}}
<button class="button material-icons" {{action 'subscribe'}}>
done
</button>
{{/if}}
