{{#if channel.subscribed}}
  <a {{action 'unsubscribe'}} class="unsubscribe-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
  Unsubscribe</a>
{{else}}
  <a {{action 'subscribe'}} class="subscribe-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
  Subscribe</a>
{{/if}}
