{{#if channel.subscribed}}
  <button {{action 'unsubscribe'}} type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">close</i>
  </button>
{{else}}
  <button {{action 'subscribe'}} type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">done</i>
  </button>
{{/if}}
