{{#if subscribed}}
  <button class="uk-button uk-button-success fa fa-check" {{action 'unsubscribeChannel' id}}>Subscribed</button>
{{else}}
  <button class="uk-button uk-button-primary" {{action 'subscribeChannel' id}}>Subscribe!</button>
{{/if}}
