body.category, body.search-by-url
  padding: 0
  header
    margin: 0
    padding: 5px
    background: #F7F7F7

  #content
    padding: 0 10px
    h2
      font-size: 25px
      margin-top: 25px
    a
      text-decoration: none
      line-height: 1.5
      font-size: 15px
      display: block

ul.categories, ul.parsed.channels
  padding: 0
  margin-bottom: 100px
  list-style: none
  li
    margin-bottom: 15px
  img
    width: 100%
    min-height: 230px
    border-radius: 5px
    box-shadow: 0 0 2px #080808
