body.channel, body.channel-by-url
  padding: 0
  header
    margin: 0
    padding: 5px
    background: #FFF

#profile
  transition: all 0.5s ease
  padding: 0 10px
  div
    position: relative
    z-index: 2

  .description
    line-height: 1.5
    font-size: 18px

  .image-subscribe-button
    text-align: center

  .image-subscribe-button, h2, #channel-header
    margin-bottom: 20px

  .info
    padding-top: 20px
    margin-bottom: 20px

  h1
    font-size: 25px
    line-height: 1.5
    font-weight: 900
    color: inherit

  h2
    font-size: 20px
    color: inherit

  img
    width: 75%
    border-radius: 50%
    margin: 20px auto
    box-shadow: 0px 1px 2px #000
    display: block

@import 'episodes'

///
  #channel-profile
    margin: 0
    .image-subscribe-button, .info, h2, .all-listened, .episodes-list, label
      margin-bottom: 20px
    h3
      text-align: left
  +respond-to(medium)
    #channel-profile
      h1
        margin-top: 20px
        font-size: 40px
        line-height: 50px
      img
        width: 100%
        max-width: 250px
