$flex-start-width: 450px

body.channel, body.channel-by-url
  .mdl-layout-title:empty
    display: none
  #profile
    position: relative
    margin: 20px 0
    h1
      margin: 0
      margin-bottom: 15px
      font-size: 30px
      font-family: "Exo 2"

    h2
      max-width: 95%
      @include respond-to($flex-start-width)
        max-width: 80%
        padding: 0 24px
      margin: 0 auto
      font-size: 18px
      font-weight: 700
      line-height: 24px
      color: #212121
      height: 35px
      a
        font-size: 13px
        float: right

    .channel-information
      width: 100%
      max-width: 95%
      margin: 0 auto
      position: relative
      z-index: 1
      margin-bottom: 40px
      @include respond-to($flex-start-width)
        max-width: 80%
      .channel-card-content
        display: flex
        flex-direction: row
        justify-content: space-between
        overflow: initial

    .description
      margin-bottom: 15px
      font-size: 17px
      line-height: 1.5

    .about
      display: none
      @include respond-to($flex-start-width)
        padding: 10px 15px
        flex: 1 1 auto
        display: block

    img.channel-img
      width: 100%
      height: auto
      z-index: 2
      @include respond-to($flex-start-width)
        flex: 0 0 auto
        position: relative
        width: 264px
        height: 264px

    .subscribe-button-component
      float: left

    .subscribe-status
      width: 100%
      max-width: 95%
      @include respond-to($flex-start-width)
        max-width: 80%
      display: block
      margin: 0 auto
      text-align: right
      text-transform: uppercase
      font-size: 12px
      font-weight: 900
      color: #7A8793
      text-shadow: 1px 1px 1px #FFF

    .subscribe-button
      // background: #43A047

    .unsubscribe-button
      color: #E53935

@import 'episodes'

#share-modal
  div
    border: 1px solid red

.liquid-modal .lf-dialog
  width: 400px
  min-height: auto
  input
    width: 100%
    box-sizing: border-box
