.uk-button
  border-radius: 0
  box-shadow: none

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  background: #eee
  font-family: 'Exo 2', sans-serif
  font-weight: 400
  overflow-y: scroll

h1, h2, h3, h4, h5
  font-family: 'Exo 2', sans-serif

ul, ol
  padding: 0
  list-style: none

h2
  font-weight: 700
  font-size: 30px
  margin: 0 0 10px 0

a
  color: #00B5B5
  &:hover
    color: #95A7B6
    text-decoration: underline
    cursor: pointer

header h1, header h2

header h1
  color: #ff5722
  font-size: 35px
  font-family: 'Exo 2', sans-serif
  font-weight: 800
  line-height: 35px
  margin: 0
  padding: 0

header h2
  color: #FFF
  font-family: 'Exo 2', sans-serif
  font-weight: 200
  font-size: 12px
  line-height: 16px
  margin: 0
  padding: 0 0 5px 0

header hgroup a
  display: block
  height: 55px
  width: 125px
  background-color: #3E4651

header.home
  margin-top: 30px
  background: #FFF
  h2
    color: #333
  hgroup a
    background: #FFF
    &:hover
      h1
        color: #ff5722
      h2
        color: #000


header a, header *:hover
  text-decoration: none
  color: #FFF

header a:hover, header a:hover h1,
  color: darken(#F1714C, 10%)

header a:hover h2
  color: darken(#FFF, 20%)

footer
  width: 100%
  text-align: center
  font-size: 12px
  padding: 5px 0

.heart
  color: #F1714C

footer .heart
  font-size: 14px

footer a
  text-decoration: none
  font-weight: 700

.hide
  display: none

.uk-navbar-toggle
  position: absolute
  z-index: 10

+respond-to(onlysmall)
  .uk-grid > *
    padding-left: 0
