=buttons-channel-episode
  outline: none
  background: transparent
  display: block
  float: left
  margin: 0
  font-size: 14px
  text-transform: uppercase
  padding: 10px
  border: 0
  cursor: pointer
  &.highlight
    color: #F44336
  &.active
    color: #CCC
  &.icon
    font-size: 20px
    padding: 5px 10px

body.channel-episode
  .uk-modal-dialog
    overflow: hidden
    margin-bottom: 85px
    h2
      margin: 0
    button
      +buttons-channel-episode
    div.description
      clear: both

ul.episodes
  margin: 0
  padding: 0
  li.episode
    max-width: 100%
    box-shadow: 0 0 2px #000
    margin-bottom: 10px
    overflow: hidden
    border-radius: 3px
    background: #FFF
    color: #333
    text-shadow: none

  h3.title
    padding: 10px
    padding-top: 5px
    margin: 0
    font-weight: 500
    font-size: 18px
    color: inherit
    line-height: 1.5
    time
      font-size: 12px
      font-style: italic
      color: #5F5F5F
      display: block

  .description
    padding: 5px 10px 20px 10px
    border-top: 1px solid #CCC

  .actions
    border-top: 1px solid #CCC
    overflow: auto
    padding: 0 5px

  button
    +buttons-channel-episode

//
  p.not_found
    text-align: center
    font-size: 17px
    border: 1px solid #e28327
    border-radius: 3px
  li.episode
    position: relative
    &.is-listened
      opacity: .5
    &.is-downloaded
      box-shadow: 0 0 3px #0C0, 0 1px 1px #0C0
    .progress
      background: #DBDBDB
      position: absolute
      top: 0
      right: 0
    .typcn-tick
      color: green
    .actions
      .downloading
        box-shadow: none
        float: left
        margin: 10px 0
        width: auto
