body.explore
  padding: 5px 30px 10px 30px

  header
    text-align: center
    margin-top: 20px
    h1
      font-size: 45px

  h2
    margin-top: 40px
    font-size: 25px
    text-align: center
    font-weight: 600

  form
    margin-top: 40px
