body
  margin-top: 55px
  .uk-navbar
    background: #0E1528
    color: #FFF
    box-shadow: 0 1px 1px #000
    position: fixed
    width: 100%
    top: 0
    z-index: 5

    h1
      display: inline-block
      line-height: 44px
      a
        text-shadow: 0 0 1px #000

    .uk-dropdown-navbar
      margin-left: 5px
      padding-top: 0

    .uk-navbar-nav li:hover > a, .uk-navbar-nav a
      background: #0E1528
      color: #FFF
      text-shadow: none
      line-height: 25px

    span.typcn
      font-size: 25px
