#new-user
  h2
    text-align: center
    font-size: 27px
    font-weight: 200
    line-height: 1.5
    letter-spacing: 2px
    margin: 0 auto
    margin-bottom: 30px
    max-width: 500px

  .enter-container
    margin: 0 auto
    max-width: 500px
    .connect-services
      overflow: hidden
    p
      text-align: center
      font-weight: 600
    a
      display: block
      // float: left
      max-width: 250px
      margin: 0 auto
    span
      text-align: center
      display: block
    form
      //margin-top: 15px
      input
        //padding: 10px
        //font-size: 16px
        border: 1px solid #CCC
        margin: 0 auto
        border-radius: 3px 0 0 3px
  .loading
    text-align: center
    margin: 0 auto
  .error-login
    text-align: center

+respond-to(small)
  #new-user
    h2
      margin-top: 20px
      margin-bottom: 60px
    .enter-container
      a
        float: left

+respond-to(medium)
  #new-user
    max-width: 700px
    margin: 0 auto
    h2
      margin-top: 50px
      margin-bottom: 80px
      font-size: 32px
    .enter-container
      p
        font-size: 21px
        margin-bottom: 20px
      span
        margin: 20px 0


.unlogged
  max-width: 700px
  margin: 0 auto
  float: none
  background: #FFF
  border: 1px solid #ccc
  box-shadow: 0 0 2px #aaa
