.player-wrapper
  display: none
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.12)

  &.has-model
    @extend .mdl-card
    display: block
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 10
    width: 100%
    min-height: 110px
    height: 110px

  button.playpause
    margin: 35px 15px
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    outline: 0

  #player
    height: 110px
    display: flex

  .info
    display: flex
    flex-direction: column
    justify-content: center
    padding: 5px
    width: 35%

  label.autoplay
    padding: 0
    position: relative
    display: block
    margin: 35px 15px
    p
      font-size: 10px
      margin: 0

  input.autoplay
    margin: 0
    position: absolute
    display: flex
    + i
      background: #FFF
      border-radius: 0
      font-size: 24px

    &:checked + i
      color: rgb(255, 87, 34)
      font-weight: bold

  h2, h3
    padding: 0
    margin: 0px
    font-size: 15px
    line-height: 1.5

  h2
    font-weight: bold

  img
    flex: 0 0 110px

  #wrapper-audio-element
    width: auto
    flex: 1 0 auto
    padding: 5px
    *
      -webkit-touch-callout: none
      -webkit-user-select: none
      -khtml-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      outline: 0

  .mejs-container
    height: 110px !important
    .mejs-controls
      position: static
      height: 110px
      background: #FFF
      div
        float: none

  .mejs-controls div.mejs-time-rail
    width: 100% !important
    span, a
      height: 3px
      border-radius: 3px
      cursor: pointer

    .mejs-time-total
      width: 100% !important
      margin: 5px 0
      background: #FF5722

    .mejs-time-loaded
      background: rgba(0, 0, 0, 0.3);

    .mejs-time-current
      background: #FF5722
      background: rgba(0, 0, 0, 0.3);

    .mejs-time-float
      height: 20px
      background: #FF5722
      border: none
      border-radius: 5px 5px 15px 15px
      color: #FFF

    .mejs-time-handle
      display: block
      width: 12px
      height: 12px
      border: none
      outline: none
      top: -4px
      border-radius: 100%
      background: #FF5722
      &:hover
        width: 20px
        height: 20px
        top: -8px

  .mejs-controls .mejs-time
    display: block
    color: #000
    padding: 20px 3px 0 3px


  .mejs-container .mejs-controls div.mejs-volume-button
    display: none
