body.users-settings
  #content
    background: #F7F7F7

#settings
  padding: 0 10px
  h3
    font-size: 35px
    text-align: center
    line-height: 1.5
    margin-bottom: 50px
  ul
    list-style: none
  > ul > li
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: dashed 1px #DDD
