.slideout-open, .slideout-open body, .slideout-open #content
  overflow: hidden

.slideout-open #menu
  display: block

#hamburger-menu
  text-shadow: none
  margin: 10px 0 0 10px
  position: absolute
  z-index: 3

#menu
  background-color: #1D1F20
  background-image: linear-gradient(145deg, #1D1F20, #404348)
  color: darken(#F1714C, 10%)
  padding-bottom: 20px
  text-shadow: none
  overflow-y: auto
  position: fixed
  display: none
  left: 0
  top: 0
  bottom: 0
  right: 0
  z-index: 0
  width: 295px
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  ul, ol
    padding: 0
  ul
    margin-bottom: 15px
  ol
    border-top: 1px solid rgb(63, 63, 63)
    li a
      border-top: darken(#1D1F20, 2%) 1px solid
      border-bottom: lighten(#1D1F20, 20%) 1px solid
      &:hover
        background:  lighten(#1D1F20, 10%)
        text-decoration: none

    li:first-child a
      border-top: none
  a
    color: #FFF
    padding: 7px 10px
    font-size: 14px
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
