.subscriptions
  a
    text-decoration: none
  .share
    margin-top: 0
    padding: 15px 10px
    background: rgb(249, 239, 231)
    font-size: 14px
    font-family: "Exo 2"
    input
      border: none
      width: 50%
      display: block
      font-size: 12px
      padding: 5px
      border-radius: 2px
      margin: 0 5px
    button
      margin: 0 5px

.channel-link-card
  text-decoration: none
  h4
    margin-top: 15px
    text-align: center
    font-size: 17px
    font-family: "Exo 2"
    color: #333
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    margin: 0 10px

.channel-img__contaniner
  background: #FFF
  margin-bottom: 15px
  padding: 5px
  border-radius: 100%
  overflow: hidden
  img
    width: 100%
    border-radius: 100%
  &:hover
    +shadow-8dp

#search-channel
  display: block
  margin: 100px auto 50px auto
  width: 65%
  &, *
    box-sizing: border-box
  input
    width: 90%
    padding: 6px
    font-size: 20px
    border: 0
    box-shadow: 1px 1px 1px #CCC
    border-radius: 3px
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    outline: 0
    float: left
  button
    float: right
    width: 10%
  span
    font-style: italic
    font-size: 12px
    display: block
    width: 90%
    clear: both
