@import 'material-design-lite'

// @import 'material_icons'
@import 'mixins'
// @import 'palette'
//
// $navbar-nav-height: 55px
// $navbar-background: $primary-color
//
$max-content-width: 960px

// @import 'bower_components/uikit/scss/uikit-mixins'
// @import 'bower_components/uikit/scss/core/variables'
// @import 'bower_components/uikit/scss/core/base'
// @import 'bower_components/uikit/scss/core/close'
// @import 'bower_components/uikit/scss/core/dropdown'
// @import 'bower_components/uikit/scss/core/grid'
// @import 'bower_components/uikit/scss/core/modal'
// @import 'bower_components/uikit/scss/core/nav'
// @import 'bower_components/uikit/scss/core/navbar'
// @import 'bower_components/uikit/scss/core/panel'
// @import 'bower_components/typicons/src/font/typicons'
//
html, body
   min-height: 100%
   background: #F0F4F8
   color: #212121

.mdl-layout__content
  padding-bottom: 120px

.liquid-modal
  .liquid-child
    position: absolute
    z-index: 2
    bottom: 0
    top: 0
    left: 0
    right: 0

  .lf-dialog
    border: none
    padding: 0
    +shadow-2dp
    @extend .mdl-card

img.channel-img
  z-index: 99

.uhura__logo, .uhura__logo a
  font-weight: 900
  font-family: "Exo 2"
  color: #ff2222
  text-decoration: none

a
  cursor: pointer

.mdl-layout-title.uhura__logo
  font-size: 25px

*, *:after, *:before
  transition-property: box-shadow, border-radius
  transition-duration: 1s
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)

.mdl-layout--fixed-drawer
  > .mdl-layout__header .mdl-layout__header-row
    padding: 15px
  &.is-small-screen
    > .mdl-layout__header .mdl-layout__header-row
      padding-left: 65px

@media screen and (max-width: 1024px)
  .mdl-layout__header .mdl-layout__drawer-button
    margin: 6px

// *
//   box-sizing: border-box
//   font-family: 'Exo 2', sans-serif
//
// body, h1, h2, h3, h4, h6, p
//   font-family: 'Exo 2', sans-serif
//   font-weight: 400
//
// body
//   header
//     text-align: center
//     margin-top: 20px
//   a
//     // color: #3E99A6
//
//
//
// @import 'categories'
@import 'channel-profile'
// @import 'explore'
// @import 'logo'
@import 'authentication'
@import 'channel-card'
@import 'player'
@import 'settings'
// @import 'sidebar'
// @import 'welcome'
// @import 'navbar'
@import 'subscriptions'
@import 'privacy'
@import 'notification'
@import 'episode'
@import 'profile'
@import 'error'
@import 'categories-list'
@import 'topbar'
//
// #container
//   position: relative
//   display: flex
//   justify-content: center
//
// #content
//   max-width: $max-content-width
//   position: relative
//   z-index: 1
//   flex: 1 1 auto
//   margin: 10px

.mdl-sub-grid
  padding: 0
  > .mdl-cell:first-child
    margin-left: 0
  > .mdl-cell:last-child
    margin-right: 0

body.home
  background-color: #00223E
  background: linear-gradient(135deg,  #00223E 10%, #006666 100%)

  main h1
    display: block
    width: 100%
    margin-bottom: 15px
    text-align: center
    line-height: 2


  .features
    button
      margin: 0 auto
      margin-top: 10px
      display: block

  p, h2, h1
    color: #FFF
    font-family: "Exo 2"

  .page-content
    max-width: 1124px
    margin: 0 auto
    padding: 0 10px

  h2
    font-weight: 300
    font-size: 28px
    line-height: 2
    margin: 0

  p
    font-weight: 300

  #episodes
    .episode
      margin-bottom: 20px

  #top-channels
    padding: 0
    list-style: none
    color: #FFF

    h4
      color: #FFF

    li
      float: left
      width: 122px
      padding: 10px
