@import 'material-design-lite'

// @import 'material_icons'
@import 'mixins'
// @import 'palette'
//
// $navbar-nav-height: 55px
// $navbar-background: $primary-color
//
$max-content-width: 960px

// @import 'bower_components/uikit/scss/uikit-mixins'
// @import 'bower_components/uikit/scss/core/variables'
// @import 'bower_components/uikit/scss/core/base'
// @import 'bower_components/uikit/scss/core/close'
// @import 'bower_components/uikit/scss/core/dropdown'
// @import 'bower_components/uikit/scss/core/grid'
// @import 'bower_components/uikit/scss/core/modal'
// @import 'bower_components/uikit/scss/core/nav'
// @import 'bower_components/uikit/scss/core/navbar'
// @import 'bower_components/uikit/scss/core/panel'
// @import 'bower_components/typicons/src/font/typicons'
//
html, body
   min-height: 100%
   background: #F0F4F8
   color: #212121

.mdl-layout__content
  padding-bottom: 120px

.liquid-modal
  .liquid-child
    position: absolute
    z-index: 2
    bottom: 0
    top: 0
    left: 0
    right: 0

  .lf-dialog
    border: none
    padding: 0
    +shadow-2dp
    @extend .mdl-card

img.channel-img
  z-index: 99

.uhura__logo
  font-weight: 900
  font-family: "Exo 2"
  color: #FF5722

.mdl-layout-title.uhura__logo
  font-size: 30px
  color: rgb(51, 51, 51)
  line-height: 2

*, *:after, *:before
  transition-property: box-shadow, border-radius
  transition-duration: 1s
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)

// *
//   box-sizing: border-box
//   font-family: 'Exo 2', sans-serif
//
// body, h1, h2, h3, h4, h6, p
//   font-family: 'Exo 2', sans-serif
//   font-weight: 400
//
// body
//   header
//     text-align: center
//     margin-top: 20px
//   a
//     // color: #3E99A6
//
//
//
// @import 'categories'
@import 'channel-profile'
// @import 'explore'
// @import 'logo'
@import 'authentication'
@import 'channel-card'
@import 'player'
@import 'settings'
// @import 'sidebar'
// @import 'welcome'
// @import 'navbar'
@import 'subscriptions'
@import 'privacy'
//
// #container
//   position: relative
//   display: flex
//   justify-content: center
//
// #content
//   max-width: $max-content-width
//   position: relative
//   z-index: 1
//   flex: 1 1 auto
//   margin: 10px
