.index
  #welcome
    position: relative
    top: 0
    max-width: 500px
    margin: 0 auto
    padding: 20px
    h3
      text-align: center
      font-size: 20px
      margin-bottom: 20px
    a
      // color: #333
      text-decoration: underline
    p
     font-size: 17px
     line-height: 2

    .duke
      font-style: italic
      font-size: 19px
