@import 'bower_components/uikit/scss/uikit-mixins'
@import 'bower_components/uikit/scss/uikit'
@import "bower_components/typicons/src/font/typicons.css"
@import "defaults"
@import 'sidebar'


#content
  padding: 10px 20px 80px 15px;
  &::after
    content: "  "
    display: block

