@import 'bower_components/uikit/scss/uikit-mixins'
@import 'bower_components/uikit/scss/uikit'
@import "bower_components/typicons/src/font/typicons.css"
@import 'mixins'
@import "defaults"
@import 'sidebar'
@import 'channel_profile'
@import 'episodes'
@import 'player'

#content
  padding: 10px 20px 80px 15px
  &::after
    content: "  "
    display: block
  > h1
    margin-top: 0

