<?xml version='1.0' encoding='utf-8'?>
<widget id="io.uhuraapp.app" version="0.0.1-alpha"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  android-versionCode="2">
    <name>Uhura</name>
    <description>
    </description>
    <author email="dukekhaos@gmail.com" href="http://dukex.io">
      Duke Khaos
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
</widget>
