<?xml version='1.0' encoding='utf-8'?>
<widget id="io.uhura.app" version="0.0.3-alpha"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  android-versionCode="4">
    <name>Uhura</name>
    <description>
    </description>
    <author email="dukekhaos@gmail.com" href="http://dukex.io">
      Duke X
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="5000"/>

    <platform  name="android">
      <preference name="android-minSdkVersion" value="15" />
    </platform>
</widget>
