<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="<% URL %>">

  <title>Dashboard - Uhura App</title>
  <meta property="og:title" content="Uhura App - Podcasts Manager" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<% URL %>" />
  <meta property="og:image" content="<% URL %>/assets/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>

  <link href="<% URL %>/assets/app.css?<% ASSETS_VERSION %>" rel='stylesheet' type='text/css'>
  <script src="<% URL %>/assets/vendor<% ASSETS_SUFIX %>.js?<% ASSETS_VERSION %>"></script>
  <script src="<% URL %>/assets/app<% ASSETS_SUFIX %>.js?<% ASSETS_VERSION %>"></script>

  <script type="text/javascript" src="//cdn.sublimevideo.net/js/dv8g8bfe.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47688976-1', 'uhuraapp.com');
    ga('send', 'pageview');
  </script>

<script>
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/wskBzcLNnDXVNIU5Zoa4g.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  UserVoice.push(['set', {
    accent_color: '#F1714C',
    trigger_color: 'white',
    trigger_background_color: '#448dd6'
  }]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    id:         '<% DATA %>',
  }]);

  UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-left' }]);

  UserVoice.push(['autoprompt', {}]);
</script>
</head>
<body id="app">
</body>
</html>
