<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="<% URL %>">

  <title>Dashboard - Uhura App</title>
  <meta property="og:title" content="Uhura App - Podcasts Manager" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<% URL %>" />
  <meta property="og:image" content="<% URL %>/assets/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>

  <link href="<% URL %>/assets/app.css?<% ASSETS_VERSION %>" rel='stylesheet' type='text/css'>
  <script src="<% URL %>/assets/vendor.min.js?<% ASSETS_VERSION %>"></script>
  <script src="<% URL %>/assets/app.min.js?<% ASSETS_VERSION %>"></script>

  <script src="//127.0.0.1:35729/livereload.js"></script>
</head>
<body id="app">
  <script type="text/x-handlebars" data-template-name="dashboard">
    <div id="dashboard">
      <h2>Dashboard</h2>
      {{#if subscriptions}}
      <div class="outter">
        <div class="inner">
          <ul id="channels">
            {{#each subscription in subscriptions}}
            {{#with subscription.channel}}
            <li class="channel" id="channel-{{unbound id}}">
              {{#link-to 'dashboard.channel' id}}
              <img {{bind-attr alt=title}} {{bind-attr src=image_url}} />
              <span class="title">{{title}}</span>
              <div class="uk-badge uk-badge-notification uk-badge-warning">
                {{to_view}}
              </div>
              {{/link-to}}
               <button class="unsubscribe uk-button uk-button-small uk-button-danger" {{action 'unsubscribe' id}}>Unsubscribe</button>
            </li>
            {{/with}}
            {{/each}}
          </ul>
          <div id="dashboard_content">
            {{outlet}}
          </div>
        </div>
      </div>
      {{else}}
        <form class="uk-form" {{action "newChannel" on="submit"}}>
            <fieldset data-uk-margin class="uk-vertical-align-middle">
            <legend>Dashboard Empty</legend>
              <label for="new-channel"> Add New Podcast </label>
              {{input type="url" id="new-channel" class="form-control new-channel" placeholder="Poscast Feed URL"
              value=url class="form-control"}}
              <button type="submit" name="submit" class="uk-button uk-button-large uk-button-success">Submit</button>
            </fieldset>

            {{#link-to 'channels'}}See Podcasts{{/link-to}}
          </form>
      {{/if}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="dashboard/channel">
    <div id="episodes">
      <ol>
        {{#each episode in episodes}}
          <li class="audio" {{bind-attr data-listened=episode.listened}} {{bind-attr data-id=episode.id}} {{bind-attr data-source_url=episode.source_url}}>
            {{play-pause-button episode=episode}}
            <h3 class="column title eleven-twelfth">
              {{episode.title}}
              <i class="fa fa-chevron-down"></i>
            </h3>
            <div class="description">
              {{#unless episode.listened}}
              <button class="uk-button uk-button-success" alt="Mark as Listen!" {{action 'listened' episode}}>
                Mark as Listened
              </button>
              {{/unless}}
              {{#link-to 'channel.episode' episode.channel.uri episode.uri}}
              Share Episode
              {{/link-to}}
              <div>{{{episode.description}}}</div>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </script>
</body>
</html>
