<!doctype html>
<html>
<head>
<meta charset="utf-8">
<base href="http://dashboard.uhuraapp.com">

<title>{{.Title}} - Uhura App - Podcasts Manager</title>
<meta property="og:title" content="{{.Title}} - Uhura App - Podcasts Manager" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dashboard.uhuraapp.com/{{.Uri}}" />
<meta property="og:image" content="{{.ImageUrl}}" />

<link href='//fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="http://dashboard.uhuraapp.com/assets/app.css?{{.UpdatedAt}}" rel='stylesheet' type='text/css'>
</head>
<body id="app">
<div id="aside-wrapper" class="uk-animation-fade column three-twelfth uk-hidden-small">
  <aside class="column three-twelfth ">
    <header>
      <hgroup>
        <a href="/">
          <h1>Uhura</h1>
          <h2>Podcast Manager</h2>
</a>
      </hgroup>
    </header>
</aside>
</div>
<div id="content" class="column nine-twelfth uk-animation-fade">
<div id="about" class="uk-animation-fade column full">
<div class="column four-twelfth">
<img src="{{.ImageUrl}}" />
</div>
<div class="column eight-twelfth">
<h2>
{{.Title}}
</h2>
{{.DescriptionHTML}}
</div>
</div>

<h3>Episodes</h3>
<ul class="episodes">
{{range .Episodes}}
  <li class="audio">
    <div class="title uk-animation-fade">
      <span>{{.Title}}</span>
    </div>
    <div class="description" style="display: block">
      {{.DescriptionHTML}}
    </div>
  </li>
{{end}}
</ul>
</div>
</body>
</html>


