<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="<% URL %>">

  <title>Uhura App - Podcasts Manager - Listen your podcasts Here!</title>
  <meta property="og:title" content="Uhura App - Podcasts Manager" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<% URL %>" />
  <meta property="og:image" content="<% URL %>/assets/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>


  <link href="<% URL %>/assets/home.css?<% ASSETS_VERSION %>" rel='stylesheet' type='text/css'>
  <script src="<% URL %>/assets/home.min.js?<% ASSETS_VERSION %>"></script>
</head>
<body>
  <div id="home">
    <p id="credits">Photo by <a href="https://www.flickr.com/photos/cclogg/">Chris Clogg</a></p>
    <a href="/login" id="sign-in-link" data-uk-modal>Sign In</a>
    <header>
      <hgroup>
        <a>
          <h1>Uhura</h1>
          <h2>Podcast Manager</h2>
        </a>
      </hgroup>
    </header>

    <h3>Enjoy, Listen and Share your podcasts now</h3>
    <!--
      <h4>Manage your favorite podcasts from everywhere, <br />no need install or download app, everything online.</h4>
    -->

    <form class="uk-form" id="fast-signup" method="POST" action="/enter">
      <legend>Create a free account</legend>
      <input id="email" name="email" type="email" placeholder="Email" />
      <button type="submit" class="uk-button-success uk-button">Sign Up</button>
      <p>
        Or use:
        <a href="/auth/google"><i class="fa fa-google-plus"></i>Google</a>
        <a href="/auth/facebook"><i class="fa fa-facebook"></i>Facebook</a>
      </p>
    </form>

    <!-- <a href="#tour" data-uk-smooth-scroll class="uk-button">Take a Tour</a> -->
  </div>

<!--   <div id="tour">
  </div> -->

  <p id="made-by">
   Created with <span class="heart">♥</span> by
   <a href="https://twitter.com/_dukex">Duke X</a>, <br /> follow us <a rel="nofollow" href="http://twitter.com/UhuraApp">@UhuraApp</a>
 </p>
</div>
</body>
</html>
