ul, ol{
  padding: 0;
}

.heart{
  color: red;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}


body{
  background: #eee;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  overflow: visible;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

h3.title{
  font-size: 25px;
  border-bottom: 1px solid #CCC;
  margin: 10px 0;
  padding: 5px 0;
}

/* application */

footer{
  text-align: center;
  font-size: 12px;
  background: #89BABE;
  padding: 5px 0;
}

footer .heart {
  font-size: 14px;
}

footer a{
  text-decoration: none;
  color: #333;
  font-weight: 700
}

header{
  background: #89BABE;
  padding: 20px 0;
}

header h1{
  color: #FFF;
  font-size: 55px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

header h1 a{
  text-decoration: none;
  color: #FFF;
}

header h2{
  color: #FFF;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 20px;
}







#home h1{
  text-align: center;
  font-weight: 700;
}

#home header{
  margin-bottom: 180px;
}

#home .action{
  text-align: center;
  margin-bottom: 50px;
}

#home .see-channels{
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

#home img{
  width: 960px;
  margin: 0 auto;
  display: block;
}

#dashboard, #channels_page {
  width: 1080px;
  margin: 0 auto;
}

#channels {
  width: 250px;
  float: left;
}

#channels ul{
  list-style: none;
}

#channels li{
  line-height: 35px;
  padding: 3px 0;
  margin: 5px 0;
  overflow: hidden;
}

#channels .to_view{
  background: #EEE;
  border-radius: 50px;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

#channels li a{
  float: left;
  display: block;
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

#channels img{
  width: 35px;
  height: 35px;
  border: 1px solid #444;
  margin: 0 5px;
}

#channels a:hover{
  background: #f7f7f7;
  text-decoration: none;
}

#channels li.action a{
  text-align: center;
}

#items {
  float: left;
  width: 780px;
  margin: 0 0 0 25px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: -1px 0 4px #CCC;
  background: #f7f7f7;
}

#items h3{
  margin-left: 10px;
  overflow: hidden;
}

#items h3 span{
  float: left;
}

#items h3 form{
  float: left;
  margin-left: 10px
}

#episodes{
  list-style: none;
  margin: 0 10px;
}

#episodes li{
  overflow: hidden;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #CCC;
  height: 120px;
  padding: 10px 0;
}

#episodes input{
  float: left;
}
#episodes .about{
  float: left;
  width: 600px;
  margin: 0 10px;
}

#episodes h4{
  margin: 0
}

#episodes button{
  padding: 0;
}

#pagination {
  background: #CCC;
  overflow: hidden;
  list-style: none;
}

#pagination li{
  float: left;
  width: 30px;
  text-align: center;
  margin: 5px 0;
}

#pagination li.current_page a:hover{
  text-decoration: none
}
#pagination li.current_page a{
  color: black;
  cursor: default;
}


/* Player */

.audiojs {
  overflow: hidden;
  width: 120px;
  float: right;
}
.audiojs p {
  display: none;
}

.audiojs .play {
  display: block;
}

.playing.audiojs .play{
  display: none;
}

.playing.audiojs .pause{
  display: block;
}

.play-pause{
  background: #404040;
  border-radius: 55px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: 0 auto;
}

.play-pause p{
  width: 25px;
  height: 25px;
  margin: 15px;
  cursor: pointer;
}

.play-pause .play{
  background: url("/assets/player-graphics.gif") -3px -2px no-repeat;
}

.play-pause .pause{
  background: url('/assets/player-graphics.gif') -1px -91px no-repeat;
}

.audiojs .scrubber{
  position: relative;
  float: left;
  width: 100px;
  background: #CCC;
  height: 14px;
  margin: 0 10px;
  margin-top: 5px;
  border-left: 0;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}

.audiojs .progress{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 0px;
  background: #666;
  z-index: 1;
  border-radius: 4px;
}

.audiojs .loaded {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 0;
  background: #999;
  border-radius: 4px;
}

.audiojs .time{
  float: left;
  width: 100px;
  text-align: center;
  margin: 0 10px;
  margin-top: 5px;

}

#channels_page  ul{
  padding: 5px 0;
}

#channels_page  ul:after{
  content: "";
  display: block;
  clear: both;
}

#channels_page  ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 200px;
  height: 230px;
}

#channels_page  ul li:nth-child(5n){
  margin-right: 0;
}

#channels_page  ul button.subscribe{
  position: absolute;
  top: 5px;
  right: 5px;
}

ul li#new_podcast {
  margin-top: 80px;
  height: 100px;
}

#new_podcast input{
  width: 216px;
}

#new_podcast button{
  float: right;
  margin-top: 10px;
}

#channels_page  ul li a{
  display: block;
  border: 1px solid #CCC;
  overflow: hidden;
  width: 195px;
  height: 230px;
  border-radius: 3px;
  text-decoration: none;
}

#channels_page  ul li a:hover{
  box-shadow: 0 0 4px #999;
}

#channels_page ul a h4{
  color: #000;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  border-top: 1px solid #CCC;
}

#channels_page  ul li img{
  max-width: 100%;
  height: 195px;
  margin: 0 auto;
  display: block;
  padding: 0;
}

#channel_page {
  padding: 15px 0;
}

#channel_page h2{
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 10px 0;
}

#channel_page #description{
  line-height: 1.5;
}

#channel_page aside{
  width: 250px;
  float: left;
}

#channel_page aside img{
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

#channel_page #episodes {
  border: 1px solid red;
  width: 800px;
  float: right;
  background: #FFF;
}
