/*#dashboard, #channels_page {
  width: 1080px;
  margin: 0 auto;
}

#channels {
  width: 250px;
  float: left;
}

#channels ul{
  list-style: none;
}

#channels li{
  line-height: 35px;
  padding: 3px 0;
  margin: 5px 0;
  overflow: hidden;
}

#channels .to_view{
  background: #EEE;
  border-radius: 50px;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

#channels li a{
  float: left;
  display: block;
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

#channels img{
  width: 35px;
  height: 35px;
  border: 1px solid #444;
  margin: 0 5px;
}

#channels a:hover{
  background: #f7f7f7;
  text-decoration: none;
}

#channels li.action a{
  text-align: center;
}

#items {
  float: left;
  width: 780px;
  margin: 0 0 0 25px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: -1px 0 4px #CCC;
  background: #f7f7f7;
}

#items h3{
  margin-left: 10px;
  overflow: hidden;
}

#items h3 span{
  float: left;
}

#items h3 form{
  float: left;
  margin-left: 10px
}

#pagination {
  background: #CCC;
  overflow: hidden;
  list-style: none;
}

#pagination li{
  float: left;
  width: 30px;
  text-align: center;
  margin: 5px 0;
}

#pagination li.current_page a:hover{
  text-decoration: none
}
#pagination li.current_page a{
  color: black;
  cursor: default;
}*/

/*



*/
