#channels_page h2,#channels_page h2+form {
  float: left;
  margin: 10px 30px 20px 0;
}

#channels_page ul{
  clear: both;
}

#channels_page ul li {
  position: relative;
  margin-bottom: 2%;
}

#channels_page ul a{
  display: block;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 3px;
  text-decoration: none;
}

#channels_page ul .img{
  /*height: 220px;*/
}

#channels_page ul img{
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
}

#channels_page ul a:hover{
  box-shadow: 0 0 4px #999;
}

#channels_page ul a h4{
  color: #000;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  border-top: 1px solid #CCC;
  margin: 0;
}

#channels_page ul button.subscribe{
  position: absolute;
  top: 5px;
  right: 5px;
}

/*
#channels_page  ul{
  padding: 5px 0;
}

#channels_page  ul:after{
  content: "";
  display: block;
  clear: both;
}
*/


#new_podcast input{
  width: 100%;
}

#new_podcast button{
  float: right;
  margin-top: 10px;
}

