#channel_page {
  /*padding: 15px 0;

  border: 1px solid red;*/
}


#channel_page aside {
  line-height: 1.5
}

#channel_page aside img{
  margin: 0 auto;
  text-align: center;
}

#channel_page aside p {
  font-size: 12px
}

#episodes h3{
  font-weight: 200;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#episodes ol{
  background: #F8F8F8;
}

#episodes li{
  overflow: hidden;
  line-height: 1.5;
  overflow: hidden;
  padding: 15px 10px;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #ccc;
}

#episodes li:first-child{
  border-top: none;
}

#episodes li:last-child{
  border-bottom: none;
}

#episodes .description {
  font-size: 14px;
}
/*




#channel_page #episodes input{
   float: left;
 }
#channel_page #episodes .about{
   float: left;
   width: 600px;
   margin: 0 10px;
 }
 #channel_page #episodes h4{
   margin: 0
 }
 #channel_page #episodes button{
   padding: 0;
}*/
