

#channel_page h2{
  font-weight: 800;
  margin-bottom: 20px;
}

#channel_info {
  line-height: 1.5
}

#channel_info  img{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px
}

#channel_info  button {
  width: 100%;
  margin-bottom: 10px;
}

#channel_info  p {
  font-size: 12px
}

#channel_info {
  margin-left: 0;
}

#episodes .title{
  display: block;
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  cursor: pointer;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

@media screen and (max-width: 640px) {
  #episodes .title{
    text-overflow: initial;
    white-space: normal;
    overflow: inherit;
        line-height: 1.7;
    padding: 5px 0;
    font-size: 15px;
  }
}

#episodes a.title:hover{
  text-decoration: none;
  color: #000;
  font-style: italic;
}


#episodes ol{
  background: #F8F8F8;
}

#episodes li{
  overflow: hidden;
  line-height: 1.5;
  overflow: hidden;
  padding: 0 10px;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #ccc;
}

#episodes li[data-listened]{
  opacity: 0.5
}

#episodes li button {
  float: left;
  margin: 10px 0 0 0
}

#episodes li i {
  float: right;
  line-height: 1.5;
  font-weight: 300;
}

#episodes li:first-child{
  border-top: none;
}

#episodes li:last-child{
  border-bottom: none;
}

#episodes .description .action {
  line-height: 1.5;
}

#episodes .description .action button{
  margin: 0 10px 0 0;
}

#episodes .description div{
  clear: both;
}

#episodes .description {
  font-size: 15px;
  display: none;
  border-top: 1px solid #ccc;
  line-height: 1.8;
  padding: 10px;
  clear: both;
}


/*




#channel_page #episodes input{
   float: left;
 }
#channel_page #episodes .about{
   float: left;
   width: 600px;
   margin: 0 10px;
 }
 #channel_page #episodes h4{
   margin: 0
 }
 #channel_page #episodes button{
   padding: 0;
}*/

#episode_modal .actions {
  overflow: hidden;
  margin-bottom: 10px;
}

#episode_modal .actions div, #episode_modal .actions a, #episode_modal .actions iframe{
  float: left;
  margin: 0 5px 0 0;
}

#episode_modal input{
  float: right;
  border: 1px solid #CCC;
  width: 275px;
  padding: 5px;
}

.fbsharebutton{
  background: #4c69ba;
  background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
  background: -webkit-linear-gradient(#4c69ba, #3b55a0);
  border: none;
  -webkit-border-radius: 2px;
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  padding: 0;
  white-space: nowrap;
  font-size: 11px;
  display: block;
  padding: 2px 5px;
}

.fbsharebutton:hover{
  color: #F7F7F7;
  text-decoration: none;
}
