#empty-dashboard{
  border: 1px solid red;
}

#dashboard .outter{
  float:left;
  overflow: hidden;
  background: #eee;
  position: relative;
}

#dashboard .inner{
  float:left;
  position: relative;
  right:75%;
  border: 1px solid #CCC;
  border-bottom: none;
}

#dashboard h2{
  margin-bottom: 15px;
}

#dashboard #channels {
  position: relative;
  width: 25%;
  float: left;
  left: 75%;
  margin: 0;
  z-index: 1;
}

#dashboard #channels li{
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #FFF;
  border-right: none;
  border-left: 1px solid #CCC;
  overflow: hidden;
}

#dashboard #channels li:first-of-type{
  border-top: none;
}

#dashboard #channels li a{
  display: block;
  width: 100%;
  position: relative;
  float: left;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
  line-height: 30px;
  height: 30px;
}

#dashboard #channels li a:hover{
  text-decoration: none;
  background: #FFF;
}

#dashboard #channels li img{
  width: 10%;
  border-radius: 3px;
  margin: 0 5px;
  float: left;
}
#dashboard #channels li .title{
  width: 75%;
  display: block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dashboard #channels li .uk-badge{
  position: absolute;
  top: 10px;
  right: 10px;
}


#dashboard_content{
  float: left;
  width: 75%;
  position: relative;
  left: 75%;
  margin: -1px -2px 0 1px;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

#dashboard #episodes ol{
  margin: 0;
}

#dashboard #episodes li h3{
  width: 760px;
}
