/*
 * Grid by http://www.adamkaplan.me/grid/
 *
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.column {
  float: left;
  margin-left: 2%;
}

.column:first-child  {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.one-twelfth{
  width: 6.5%;
}

.column.two-twelfth{
  width: 15%;
}

.column.three-twelfth {
  width: 23.5%;
}

.column.four-twelfth {
  width: 32%;
}

.column.five-twelfth {
  width: 40.5%;
}

.column.six-twelfth {
  width: 49%;
}

.column.seven-twelfth {
  width: 57.5%;
}

.column.eight-twelfth {
  width: 66%;
}

.column.nine-twelfth {
  width: 74.5%;
}

.column.teen-twelfth {
  width: 83%;
}

.column.eleven-twelfth {
  width: 91.5%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
}

@media screen and (max-width: 640px) {
.column.one-twelfth,
.column.two-twelfth,
.column.three-twelfth,
.column.four-twelfth,
.column.five-twelfth,
.column.six-twelfth,
.column.seven-twelfth,
.column.eight-twelfth,
.column.nine-twelfth,
.column.teen-twelfth,
.column.eleven-twelfth {
    width: 100%;
    margin: 0;
  }
}
