/*


*/

body{
  background: #eee;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

ul, ol{
  padding: 0;
  list-style: none;
}

h2{
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 10px 0;
}

a{
  color: #00B5B5;
}
/*


.clearfix:after{
  content: "";
  display: block;
  clear: both;
}



.container {
  max-width: 1080px;
  margin: 0 auto;
}

h3.title{
  font-size: 25px;
  border-bottom: 1px solid #CCC;
  margin: 10px 0;
  padding: 5px 0;
}
*/

footer{
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: #FFF;
  padding: 5px 0;
  margin-top: 20px;
  z-index: 5;
}

footer .heart {
  font-size: 14px;
  color: #F1714C;
}

footer a{
  text-decoration: none;
  color: #333;
  font-weight: 700
}


header{
  background: #F1714C;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 45px;
  box-shadow: 0 0 1px #B56D58;
  top: 0;
}

header:after{
  content: " ";
  display: block;
  overflow: hidden;
  clear: both;
}

header hgroup{
  float: left;
  border-radius: 0 0 2px 2px;
}

header hgroup a{
  padding: 0 5px;
  display: block;
  height: 55px;
  width: 125px;
  background: #3E4651 url('/assets/logo.png') center  no-repeat;
}

header h1,header h2{
  text-indent: -50000px;
}

header h1{
  color: #FFF;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

header a{
  text-decoration: none;
  color: #FFF;
}

header a:hover, header a:hover h1, header a:hover h2{
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
}

header h2{
  color: #FFF;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0 0 5px 0;
}

header nav.uk-navbar {
  float: right;
  background: transparent;
  border: none;

}

header nav .uk-navbar-toggle {
  text-shadow: none;
  height: 45px;
  background: none;
  border: none;
}

header nav.uk-navbar ul.uk-navbar-nav{
  margin: 0;
  padding: 0;
  float: right;
}

header nav li:first-child{
  border-left: 1px solid #3E4651;
}

header nav li{
  float: left;
  border-right: 1px solid #3E4651;
  height: 45px;
}

header nav .uk-navbar-nav li a{
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 10px;
  color: #3E4651;
  text-shadow: none;
}

header nav .uk-navbar-nav li a:hover{
  background: #3E4651;
  color: #FFF;
  text-decoration: none;

}

header .uk-container-center{
  position: relative;
}

#content{
  margin-top: 60px
}

#loading_page {
  font-size: 50px;
  text-align: center;
  margin: 100px;
}


#error-403 {
  border: 1px solid red;
  text-align: center;
}

#error-403 h2{
  margin: 0 auto;
}

#error-403 p{
  background: #FFD8D8;
}

#error-403 button{
  margin: 30px 0 ;
}
