Hey {{.data.Name}}!

I'm Duke, Creator of Uhura. I want to help you have the best experience with the app, so you can contact me anytime. I'll appreciate to hear anything you have to say about Uhura.

Cheers,
Duke
