<div id="dashboard">
  <div id="channels">
    <h3>Channels</h3>
    <ul>
      <li><a href="/dashboard">
        All Channels
      </a></li>
      {{range .channels}}
        <li>
          <a href="/dashboard/channels/{{.Id}}">
            <img alt="" src="{{.ImageUrl}}" />
            {{.Title}}
          </a>
          <span class="to_view">
            {{.ToView}}
          </span>
        </li>
      {{end}}
    </ul>

    <form class="form-inline" role="form" action="/api/channels" method="post">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Podcasts Address</label>
        <input type="text" placeholder="Feed Url" class="form-control" name="url">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>
  <div id="items">
    <h3>
      <span>Episodes {{with .channel}} from {{.Title}}{{end}}</span>
      {{with .channel}}
        <form class="form-inline" role="form" action="/api/channels" method="post">
          <input type="hidden" value="{{.Url}}" name="url">
          <button type="submit" class="btn btn-default">Subscribe</button>
        </form>

      <form class="form-inline" role="form" action="/api/channels/{{.Id}}/fetcher" method="post">
          <button type="submit" class="btn btn-default">Reload</button>
        </form>
      {{end}}
    </h3>
    <ol id="episodes">
      {{range .items}}
      <li>
      <input disabled type="checkbox" {{ if . | UserViewedHelper }} checked {{end}} />
      <div class="about">
        <h4> {{ .Title }} </h4>
        <em> {{ .ChannelTitle }}</em>
        {{ .Description }}


        <form action="/api/items/{{ .Key }}/watched" method="post">
          <button type="submit" class="btn btn-link">Mark as watched!</button>
        </form>
      </div>
      <audio src="{{ .SourceUrl }}" preload="none"></audio>
      </li>
      {{end}}
    </ol>

    {{ .counter | Pagination  }}
    {{with .channel}}
      <small>{{.Copyright}}</small>
    {{end}}
  </div>

</div>

<script>
  audiojs.events.ready(function() {
    var audios = document.getElementsByTagName('audio');
    for(var i = 0; i < audios.length; i++) {
      audiojs.create(audios[  i], {
        css: false
      });
    }
    //   var as = audiojs.createAll();
  });
</script>

