<div class="container" id="home">
  <header>
    <h1>Uhura - Podcasts Manager</h1>
  </header>
  <div class="action">
    <a href="/dashboard" class="btn btn-info btn-lg">Enter Now</a>
    <a href="/channels" class="see-channels">See Podcasts</a>
  </div>

  <img src="/assets/uhura-home.png"  alt=""/>
</div>

