<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Uhura</title>

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200,400italic,800' rel='stylesheet' type='text/css'>
  <!--
  <link href="/assets/reset.css" rel="stylesheet">
  -->

  <link href="/assets/uikit.css" rel="stylesheet">
  <link href="/assets/font-awesome.min.css" rel="stylesheet">

  <link href="/assets/main.css" rel="stylesheet">
  <link href="/assets/home.css" rel="stylesheet">
  <link href="/assets/audiojs.css" rel="stylesheet">
  <link href="/assets/channels_page.css" rel="stylesheet">
  <link href="/assets/channel_page.css" rel="stylesheet">


  <!-- emberjs -->
  <script src="/assets/vendor/jquery-1.10.2.min.js"></script>
  <script src="/assets/vendor/handlebars-1.0.0.js"></script>
  <script src="/assets/vendor/ember.js"></script>
  <script src="/assets/vendor/ember-data.js"></script>

  <!-- -->

  <script src="/assets/app.js"></script>

  <script type="text/javascript" src="/assets/audio.min.js"></script>
</head>
<body class="uk-container uk-container-center">
  <script type="text/x-handlebars" data-template-name="player">
    Play
  </script>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="uk-grid" data-uk-grid-margin>
      <header class="">
        <h1>{{#link-to 'index'}}Uhura{{/link-to}}</h1>
        <h2>Podcast Manager</h2>
      </header>

      {{outlet}}

      {{view Uhura.PlayerView}}

      <footer>
        Created <span class="heart">♥</span> by <a href="https://github.com/dukex">Duke Khaos</a> with awesome <a href="https://github.com/dukex/uhura/graphs/contributors">Contributors</a>
      </footer>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <div class="container" id="home">
      <div class="action">
        {{#link-to 'channels' classNames="btn btn-info btn-lg"}}
        Enter Now
        {{/link-to}}

        {{#link-to 'channels' classNames="see-channels"}}
        See Podcasts
        {{/link-to}}
      </div>
      <img src="/assets/uhura-home.png"  alt=""/>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="channels">
    <div id="channels_page" class="uk-width-1-1">
      <h2 class="title">Channels</h2>
      <ul class="uk-grid">
        {{#each}}
        <li class="uk-width-medium-1-5">
          {{#link-to 'channel' uri}}
            <div class="img">
              <img {{bindAttr src=image_url}} />
            </div>
            <h4>{{title}}</h4>
          {{/link-to}}



          {{#if subscribed}}
            <button class="uk-button uk-button-small uk-button-success subscribe fa fa-check" {{action 'unsubscribeChannel' id}}>Subscribed</button>
          {{else}}
            <button class="uk-button uk-button-small subscribe" {{action 'subscribeChannel' id}}>Subscribe!</button>
          {{/if}}
        </li>
        {{/each}}
        <li id="new_podcast" class="uk-width-medium-1-5">
          <div class="uk-form">
            <fieldset data-uk-margin class="uk-vertical-align-middle">
              <label> Add New Podcast </label>
              {{input type="url" id="new-channel" placeholder="Podcast URL"
              value=url action="newChannel" class="form-control"}}
            </fieldset>
          </div>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="channel">
    <div id="channel_page" class="uk-grid" data-uk-grid-margin>
      <h2 class="uk-width-1-1">{{title}}</h2>
      <aside class="uk-width-medium-1-5">
        <img {{bindAttr src=image_url}} />
        <div id="description">
          {{description}}
        </div>
        <p>{{copyright}}</p>
      </aside>
      <div id="episodes" class="uk-width-medium-4-5" data-uk-grid-margin>
        <ol>
        {{#each episode in episodes}}
          <li>
            <h3>{{episode.title}}</h3>
            <div class="description">{{{episode.description}}}</div>
          </li>
        {{/each}}
        </ol>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="dashboard">
    <ul class="uk-width-medium-1-5" data-uk-grid-margin>
    {{#each subscription in subscriptions}}
      {{#with subscription.channel}}
      <li>
        {{#link-to 'dashboard.channel' uri}}
          {{title}} ({{to_view}})</li>
        {{/link-to}}
      {{/with}}
      {{/each}}
    </ul>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="dashboard/channel">
      <div id="episodes" class="uk-width-medium-4-5" data-uk-grid-margin>
        <ol>
        {{#each episode in episodes}}
          <li>
            <h3>{{episode.title}}</h3>
            <div class="description">{{{episode.description}}}</div>
          </li>
        {{/each}}
        </ol>
      </div>
  </script>
</body>
</html>
