<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uhura</title>

    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylish-portfolio.css" rel="stylesheet">
    <link href="/assets/sb-admin.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/app.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

  </head>
  <body>
    {{ yield }}
  </body>
</html>
