<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Sign Up - UhuraApp</title>
  <meta property="og:title" content="Sign Up - UhuraApp" />
  <meta property="og:type" content="website" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>


  <link href="<% URL %>/assets/home.css?<% ASSETS_VERSION %>" rel='stylesheet' type='text/css'>
  <script src="<% URL %>/assets/home<% ASSETS_SUFIX %>.js?<% ASSETS_VERSION %>"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body id="users">
    <header>
      <hgroup>
        <a href="/">
          <h1>Uhura</h1>
          <h2>Podcast Manager</h2>
        </a>
      </hgroup>
    </header>

  <form id="sign-up" class="uk-form uk-form-stacked" method="POST" action="/users/sign_up">
    <legend>Sign Up</legend>

    <div class="uk-form-row">
      <label for="email" class="uk-form-label">Email:</label>
      <div class="uk-form-controls">
        <input class="uk-form-large" id="email" type="email" name="email" value="<% EMAIL %>" />
      </div>
    </div>
    <div class="uk-form-row">
      <label for="password" class="uk-form-label">Password:</label>
      <div class="uk-form-controls">
        <input class="uk-form-large" type="password" id="password" name="password" />
      </div>
    </div>
    <div class="uk-form-row">
      <p id="services">
        <span>Or use:</span>
        <a href="/auth/google"><i class="fa fa-google-plus"></i>Google</a>
        <a href="/auth/facebook"><i class="fa fa-facebook"></i>Facebook</a>
      </p>
      <button type="submit" class="uk-button uk-button-success">Submit</button>
    </div>
  </form>
</body>
</html>
