<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Reset Password - UhuraApp</title>
  <meta property="og:title" content="Reset Password - UhuraApp" />
  <meta property="og:type" content="website" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,900,800,700,600,500,300,100,200' rel='stylesheet' type='text/css'>


  <link href="<% URL %>/assets/home.css?<% ASSETS_VERSION %>" rel='stylesheet' type='text/css'>
  <script src="<% URL %>/assets/home.min.js?<% ASSETS_VERSION %>"></script>
</head>
<body id="users">
    <header>
      <hgroup>
        <a href="/">
          <h1>Uhura</h1>
          <h2>Podcast Manager</h2>
        </a>
      </hgroup>
    </header>

  <div id="success_reset_password" class="uk-form uk-form-stacked">
    <legend><strong>Step 2</strong> - Check your email</legend>
    <p>We've sent you an <strong>email a link</strong> that will take you to a page where you can create a new password.</p>
    <br />
  </div>
</body>
</html>
