{{title "Subscriptions"}}

{{#layout-logged invalidateSession="invalidateSession"}}
<div id="subscriptions" class="mdl-grid">
  {{#each model as |subscription|}}
    {{channel-card channel=subscription  class="mdl-cell mdl-cell--2-col"}}
  {{/each}}
</div>
{{/layout-logged}}
