<div id="login-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <h3>Welcome to Uhura!</h3>
    <p>It's wonderful you want to use some special feature.</p>
    <div class="connect-services">
      <a {{action 'authenticate' 'google'}}> <img src="assets/google.png" /> </a>
      <a {{action 'authenticate' 'facebook'}}> <img src="assets/facebook.png" /> </a>
    </div>
    {{#if loginError}}
      <div class="error-login uk-alert uk-alert-danger">{{t 'errors.login'}}</div>
    {{else}}
      {{#if loading}}
        <div class="loading"><i class="loading uk-icon-spinner uk-icon-spin"></i></div>
      {{/if}}
    {{/if}}
  </div>
</div>
