<nav id="menu">
  <ul>
    <li>
      <ul>
        <li>
          {{#link-to 'users.settings' }}
          <span class="typcn typcn-cog-outline"></span>{{t "sidebar.settings"}}
          {{/link-to}}
        </li>
        <li>
          <a {{ action 'invalidateSession' }}>
            <span class="typcn typcn-power-outline"></span>{{t "sidebar.sign_out"}}
          </a>
        </li>
      </ul>
    </li>
    {{subscriptions-sidebar subscriptions=model}}
  </ul>
</nav>


