<h2>{{t 'index.suggestions'}}</h2>

{{view App.LoadingView}}

<ul id="channels">
  {{#each channel in channels}}
    <li>
      <h3><span class="typcn typcn-th-large-outline"></span>
        {{#link-to 'channel' channel.id}}{{channel.title}}{{/link-to}}
      </h3>
      <ul class="episodes">
        {{#each episode in channel.episodes}}
          {{episode-list-item episode=episode}}
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

