<div id="player" {{bind-attr class="isPlaying::uk-hidden"}}>
  <div id="player-image">
    <img {{bind-attr src=channel.image_url}}>
  </div>
  <div class="audio-player">
    <h2>{{title}} - {{channel.title}}</h2>
    <audio id="audio-player" controls="controls"></audio>
  </div>
</div>
