{{partial "partials/sidebar-web"}}
{{partial "partials/sidebar-mobile"}}

<div id="content" class="uk-float-right uk-animation-fade uk-width-large-7-10 uk-width-small-1-1">
  {{outlet}}
</div>

<script>
  $(document).ready(function(){
    window.fixSidebarHeight();
  })
</script>
