{{partial "partials/sidebar-web"}}
{{partial "partials/sidebar-mobile"}}

<div id="content" class="uk-float-right uk-animation-fade uk-width-7-10">
  {{outlet}}
</div>

<script>
  $(document).ready(function(){
    window.fixSidebarHeight();
  })
</script>
