{{partial "partials/sidebar-web"}}
{{partial "partials/sidebar-mobile"}}

<div id="content" class="uk-float-right uk-animation-fade uk-width-large-7-10 uk-width-small-1-1">
  <a class="uk-hidden-large uk-button" id="hamburger-menu" {{action "toggleMenu"}}>
    <i class="uk-icon-bars"></i>
    MENU
  </a>
  {{outlet}}
</div>
