{{partial "partials/sidebar"}}

<div id="content" class="authenticated uk-animation-fade">
  <a class="uk-button" id="hamburger-menu" {{action "toggleMenu"}}>
    <i class="uk-icon-bars"></i>
    MENU
  </a>
  {{outlet}}
</div>
