<h2>{{model.name}}</h2>

<ul id="category-channels" class="uk-grid categories">
  {{#each model.channels as |channel|}}
  <li class=" uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-width-xlarge-1-6 ">
    {{#link-to 'channel' channel}}
    <img data-layzr="{{channel.imageURL}}" data-fallback="assets/channel-placeholder.png" src="assets/channel-placeholder-loading.jpg" />
    <span>{{channel.title}}</span>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
