{{#with model.channel as channel}}

<h2 class="uk-text-danger"> WIP: This page is unavailable </h2>

<h3>{{channel.title}}</h3>

<ul>
  {{#each episode in channel.episodes}}
  <li>{{episode.title}}</li>
  {{/each}}
</ul>
{{/with}}
