<h3>{{t 'titles.categories'}} </h3>
<ul id="categories">
  {{#each categories as |category|}}
  <li class="">
    <a class="">
      <img src={{category.thumb_url}} />
      <h3>{{category.name}}</h3>
    </a>
  </li>
  {{/each}}
</ul>
