{{#layout-unlogged invalidateSession="invalidateSession" simpleTopbar=true }}
{{#mdl-grid}}
  <div class="mdl-cell mdl-cell--12-col">
    <h2>Your favorites shows</h2>
    <div class="mdl-sub-grid mdl-grid">
      <p class="mdl-cell mdl-cell--4-col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <ul class="mdl-cell mdl-cell--8-col" id="top-channels">
        {{#each model.channels as |channel|}}
        <li>
          {{channel-card channel=channel}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class=" mdl-cell mdl-cell--12-col">
    <h2>Listen awesome episodes</h2>
    <div class="mdl-sub-grid mdl-grid">
      <div id="episodes" class="mdl-cell mdl-cell--8-col">
        {{#each model.episodes as |episode|}}
        {{episode-list-item episode=episode onlyLink=true hasLink=true rightActions=false moreInfoOpened=true}}
        {{/each}}
      </div>
      <p class="mdl-cell mdl-cell--4-col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

    </div>
  </div>
  <div class=" mdl-cell mdl-cell--12-col">
    <h2>Online Sync</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </div>
{{/mdl-grid}}
{{/layout-unlogged}}
