<br />
<h3> Welcome to Uhura </h3>
<div id="welcome">
  <p>Hi, <br />
    This is an alpha version of Uhura, maybe you can find some
    problems while using the application, but do not worry,
    I'm working every day on improvements and new features,
    if you want to help me solve any problems you found or
    just talk about podcast, uhuraApp, etc. email me <strong> dukekhaos@gmail.com</strong>
  </p>
  <p class="duke">Duke</p>
</div>
