<div id="welcome">
  <h3> Welcome to Uhura </h3>
  <p>Hi, <br />
    This is an alpha version of Uhura, maybe you can find some
    problems while using the application, but do not worry,
    I'm working every day on improvements and new features,
    if you want to help me solve any problems you found or
    just talk about podcast, uhuraApp, etc. email me <strong> dukekhaos@gmail.com</strong>
  </p>
  <p class="uk-alert uk-alert-warning">You only can play
    your current subscriptions here, to discovery channels please go to the old version on <a href="#" onclick="window.open('http://uhuraapp.com', '_system');">uhuraapp.com</a></p>
  <p class="duke">Duke</p>
</div>
