<div id="player">
  <img {{bind-attr src=channel.image_url}} class="channel-img">
  <h2>{{channel.title}} {{title}}</h2>

  <div class="uk-hidden">
    <audio id="audio-player" controls="controls" style="width: 100%"></audio>
  </div>
</div>
