<div id="settings">
  <h3>{{t 'settings.title'}}</h3>
  <ul>
    <li>
    <div class="uk-form-select" data-uk-form-select>
      <span>Language: </span>
      <select>
        <option value="en">English</option>
        <option value="pt">Português</option>
      </select>
    </div>
    </li>
  </ul>
</div>
